<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>멀터 폼데이터 실습</title>
  </head>
  <body>
    <script src="/static/JS/onlyFile.js"></script>
    <script src="/static/JS/bothFileText.js"></script>
  </body>
</html>
